.pageWrap {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.wrap {
	position: relative;
	max-width: 980px;
	margin: 0 auto;
}

.wrap img {
	max-width: 100%;
}

#logo {
	color: #fff;
	margin-bottom: 0;
	text-align: center;
}

.headerDivider {
	float: left;
	margin: 10px 0;
	height: 44px;
}

#nav {
	float: left;
	margin-left: 30px;
	background: none;
	border: none;
	line-height: 62px;
}

#nav a {
	color: #fff;
}

#nav .ant-menu-item-selected a {
	color: #1890ff;
}

.xsNav {
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

.main {
	flex: 1;
}

.main .wrap {
	border: 1px solid #ccc;
	border-top: none;
}

#indexMenu {
	border-right: none;
}

#indexMenu li {
	transion: .5s;
	text-align: center;
}

#indexMenu li:hover,
#indexMenu .ant-menu-item-selected {
	border-right: 3px solid #1890ff;
}

.indexList {
	border-left: 1px solid #ccc;
}

#indexXsMenu {
	display: flex;
}

#indexXsMenu li {
	flex: 1;
	float: none;
	text-align: center;
	border-right: none;
}

.indexList {
	padding: 0 10px;
}

.indexList p {
	margin: 0;
}


/* 用户详情 */

.userWrap {
	text-align: center;
}

.userAvatar {
	width: 100px;
	height: 100px;
}

.userInfo span {
	color: #1E90FF;
}

.userInfo li {
	font-size: 18px;
	line-height: 30px;
}
